.idea
UserSettings
2D Learning Project.sln
Assembly-CSharp.csproj
Library
Logs
Temp
GAUnity2D.sln
Assets/~UnityDirMonSyncFile~1f91c1259322f59409e4e4cc41c3d2b8~
Assets/~UnityDirMonSyncFile~4842d72363d9b774fbf8b5f4b623fa70~
Assembly-CSharp-firstpass.csproj
Assets/TextMesh Pro
Assets/Resources
*.csproj
Assets/StreamingAssets
Assets/StreamingAssets.meta
Assets/Plugins/Assets_DevilsWorkShop
Assets/Plugins/Free Pack
Assets/Plugins/Free Pack.meta
Assets/Plugins/Assets_DevilsWorkShop.meta
Builds
